# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Sharaga2.0\KalmanFilter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
